#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define SPECIAL 1

/ {
  keymap {
    compatible = "zmk,keymap";

    Base_layer {
      bindings = <
        &kp ESCAPE &kp NUMBER_2 &kp NUMBER_3 &kp NUMBER_4 &kp NUMBER_5 &kp TAB &kp Q &kp W &kp E &kp R &kp T &kp LEFT_SHIFT &kp A &kp S &kp D &kp F &kp G &kp LEFT_CONTROL &kp Z &kp X &kp C &kp V &kp B &kp LEFT_ALT &kp RIGHT_GUI &tog SPECIAL &kp SPACE &kp LEFT_BRACE 
      >;
    };

    special_layer {
      bindings = <
        &kp F11 &kp F2 &kp F3 &kp F4 &kp F5 &kp DEL &none &kp K_STOP2 &kp K_PREVIOUS &kp undefined &kp F6 &none &none &none &none &none &kp F7 &none &none &none &none &none &kp F8 &none &none &none &none &kp F9 
      >;
    };

  };
};
